<div class='container W-100 my-3'>
  <div class='row justify-content-center'>
    <div class="col-md-8">
      <h4 class="px-3 mb-2 fs-6 text-start d-inline-block">
        Group一覧 ｜
        <%= link_to "Group作成", new_group_path %>
      </h4>
      <%= flash[:notice] %>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Group Name</th>
            <th>Members</th>
            <th>Introduction</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td>
                <% if group.group_image.attached? %>
                  <%= image_tag group.group_image, size: "50x50" %>
                <% else %>
                  <%= image_tag 'default-image.jpg', size: "50x50" %>
                <% end %>
              </td>
              <td><%= link_to group.name, group_path(group.id), class: "font-weight-bold text-primary text-decoration-none" %></td>
              <td><%= group.group_users.count %></td>
              <td><%= group.introduction %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


