<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3>Event Mail</h3>
      <%= form_with url: group_send_mail_path(@group), method: :get, local: true do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :mail_title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :mail_content, class: "form-control" %>
        </div>
        <div class="form-group d-flex justify-content-end">
          <%= f.submit "送信", class: "btn btn-sm btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "Group情報へ戻る", group_path(@group), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>
</div>