<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-lg border-0">
        <div class="card-header bg-success text-white">Event Mail</div>
        <div class="card-body">
          <%= form_with url: group_send_mail_path(@group), method: :get, local: true do |f| %>
            <div class="form-group">
              <%= f.label :title, "件名", class: "font-weight-bold" %>
              <%= f.text_field :mail_title, class: "form-control w-100" %>
            </div>
            <div class="form-group">
              <%= f.label :content, "内容", class: "font-weight-bold" %>
              <%= f.text_area :mail_content, class: "form-control w-100" %>
            </div>
            <div class="text-right">
              <%= f.submit "送信", class: "btn btn-info" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "Group情報へ戻る", group_path(@group), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>
</div>