<div class="container">
  <h2 class="text-center"><%= @group.name %></h2>
  <h4 class="text-center">承認待ち一覧</h4>
  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
    <% if @permits.present? %>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap bg-light">
          <thead class="thead-dark">
            <tr>
              <th>ユーザー名</th>
              <th>ベストスコア</th>
              <th>平均スコア</th>
              <th>ゴルフ歴</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @permits.each do |permit| %>
              <tr>
                <td><%= link_to permit.user.name, user_path(permit.user.id), class: "text-dark" %></td>
                <td><%= permit.user.best_score %></td>
                <td><%= permit.user.average_score %></td>
                <td><%= permit.user.golf_experience %></td>
                <td>
                  <%= link_to "申請許可", group_group_users_path(@group, permit_id: permit.id), method: :post, class: "btn btn-sm btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-center">承認待ちのユーザーはいません</p>
    <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "Group情報へ戻る", group_path(@group), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>
</div>