<div class='container W-100 my-3'>
  <div class='row justify-content-center'>
    <div class="col-md-12">
      <h4 class="px-3 mb-2 fs-6 text-start d-inline-block">
        Group情報
      </h4>
      <%= flash[:notice] %>
      <table class="table table-hover bg-light">
        <thead class="thead-dark">
          <tr>
            <th>Image</th>
            <th>Group Name</th>
            <th>Members</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <% if @group.group_image.attached? %>
                  <%= image_tag @group.group_image, size: "50x50" %>
                <% else %>
                  <%= image_tag 'default-image.jpg', size: "50x50" %>
                <% end %>
              </td>
              <td><%= @group.name %></td>
              <td>
                <% @group.users.each do |user| %>
                  <li style="list-style: none;"><%= user.name %></li>
                <% end %>
              </td>
              <% if @group.group_users.exists?(user_id: current_user.id) %>
                <td>
                  <%= link_to 'グループ退出', group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "本当にグループを退出しますか？" } %>
                </td>
              <% elsif @group.permits.exists?(user_id: current_user.id) %>
                <td><%= link_to '申請取消', group_permits_path(@group), method: :delete, class: "btn btn-sm btn-danger" %></td>
              <% else %>
                <td><%= link_to '参加申請', group_permits_path(@group), method: :post, class: "btn btn-sm btn-success" %></td>
              <% end %>
              <% if @group.is_owned_by?(current_user) %>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="groupMenu_<%= @group.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      menu
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="groupMenu_<%= @group.id %>">
                      <%= link_to '承認待ちユーザー', group_permits_path(@group), class: "dropdown-item text-secondary bg-transparent" %>
                      <%= link_to '編集', edit_group_path(@group), class: "dropdown-item text-success bg-transparent" %>
                      <%= link_to 'メンバーに通知', group_new_mail_path(@group), class: "dropdown-item text-info bg-transparent" %>
                    </div>
                  </div>
                </td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "一覧へ戻る", groups_path(@group), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>
</div>



