<div class='container W-100 my-3'>
  <div class='row my-4 w-75'>
    <div class="col-12">
      <% if @practice_post.errors.any? %>
        <%= @practice_post.errors.count %>件のエラーが発生しました
        <ul>
          <% @practice_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <h4 class="px-3 mb-3 text-start d-inline-block">
        <%= "#{@practice_post.user.name}" %>さんのGolf note編集
      </h4>
      <%= form_with model:@practice_post, local: true do |f| %>
        <div class="form-row mb-2">
          <div class="col-form-label col-md-2">
            練習日
          </div>
          <div class="col-md-5">
            <p class="form-control-plaintext">
              <%= f.date_field :practice_date %>
            </p>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-form-label col-md-2">
            練習テーマ
          </div>
          <div class="col-md-5">
            <p class="form-control-plaintext">
              <%= f.text_field :practice_focus %>
            </p>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-form-label col-md-2">
            球数
          </div>
          <div class="col-md-5">
            <p class="form-control-plaintext">
              <%= f.number_field :shot_hits %>
            </p>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-form-label col-md-2">
            練習メモ
          </div>
          <div class="col-md-12">
            <p class="form-control-plaintext">
              <%= f.rich_text_area :content %>
            </p>
          </div>
        </div>

        <div class="form-row mb-2">
          <div class="col-form-label col-md-2">
            タグ付け
          </div>
          <div class="col-md-5">
            <p class="form-control-plaintext">
              <%= f.text_field :name, value: @tag_list %>
            </p>
          </div>
        </div>


        <div class="form-row mb-3">
          <div class="col-md-3">
            <%= f.submit "編集内容を保存", class: "btn btn-success" %>
          </div>
          <div class="col-md-3">
            <%= link_to "投稿削除", practice_post_path(@practice_post), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





