<div class='container W-100 my-3'>
  <div class='row my-4 w-75'>
    <div class="col-12">
      <h4 class="px-3 mb-3 text-start d-inline-block">
        <%= "#{@practice_post.user.name}" %>さんのGolf note
      </h4>
      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          練習日
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @practice_post.practice_date %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          練習テーマ
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @practice_post.practice_focus %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          球数
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @practice_post.shot_hits %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          練習メモ
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= @practice_post.content %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2">
          練習タグ
        </div>
        <div class="col-md-5">
          <p class="form-control-plaintext">
            <%= render 'public/practice_posts/tags', practice_post: @practice_post %>
          </p>
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="col-form-label col-md-2"></div>
        <div class="col-md-5" id="favorite_btn_<%= @practice_post.id %>">
          <%= render "public/favorites/btn", practice_post: @practice_post %>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col-md-3">
          <% if @practice_post.user == current_user %>
            <%= link_to "編集する", edit_practice_post_path(@practice_post), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
      <div id="comment_index">
        <%= render "public/post_comments/index", practice_post: @practice_post %>
      </div>
      <%= render "public/post_comments/comment_form", practice_post: @practice_post, post_comment: @post_comment %>

    </div>
  </div>
</div>




