<div class='container W-100 my-3'>
  <div class='row justify-content-center'>
    <div class="col-md-8">
      <h4 class="px-3 mb-2 fs-6 text-start d-inline-block">
        グループ一覧
      </h4>
      <%= flash[:notice] %>
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Group Name</th>
            <th>Members</th>
            <th>紹介文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td>
                <% if group.group_image.attached? %>
                  <%= image_tag group.group_image, size: "50x50" %>
                <% else %>
                  <%= image_tag 'default-image.jpg', size: "50x50" %>
                <% end %>
              </td>
              <td><%= link_to group.name, group_path(group.id) %></td>
              <td><%= group.group_users.count %></td>
              <td><%= group.introduction %></td>
              <td><%= link_to '削除', admin_group_path(group.id), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



