<div class='container W-100 my-3'>
  <div class='row my-4 w-75'>
    <div class="col-12">
      <h5 class="table-light px-3 mb-3 fs-6 ml-5 text-center d-inline-block">ログイン</h5>
        
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>

      <div class="d-flex justify-content-center">
        <%= form_with model: resource, url: user_session_path, local: true do |f| %>
          <div class="form-row mb-3 ml-5">
            <div class="col-form-label col-md-5">
              <%= f.label :email, 'メールアドレス' %>
            </div>
            <div class="col-md-5">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="form-row mb-3 ml-5">
            <div class="col-form-label col-md-5">
              <%= f.label :password, 'パスワード' %>
            </div>
            <div class="col-md-5">
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>         

          <div class="form-row mb-3 ml-5">
            <div class="col-form-label col-md-5">
              <%= f.submit "ログイン", class: "btn btn-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


