<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <%= render 'user_profile' %>
      <% if @practice_posts.any? %>
        <div class="d-flex flex-wrap">
          <% @practice_posts.each do |practice_post| %>
            <div class="card m-2 flex-fill" style="min-width: 300px; max-width: 48%;">
              <div class="card-body">
                <div class="d-flex">
                  <div class="col-12">
                    <h5 class="card-title">
                      <%= link_to practice_post_path(practice_post), class: "text-dark" do %>
                        <i class="far fa-flag"></i> <%= practice_post.practice_focus %>
                      <% end %>
                    </h5>
                    <p class="card-text">メモ：<%= practice_post.content %></p>
                  </div>
                </div>
                <% if @user == current_user %>
                  <%= link_to "編集", edit_practice_post_path(practice_post.id), class: " btn btn-success" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="text-center mt-4">
          <i class="far fa-frown"></i> 投稿がまだありません。
        </div>
      <% end %>
    </div>
  </div>
</div>
  