<header>
  <div>
    <%= link_to root_path do %>
      <%= image_tag "mygolfnote_logo.png", style: "width: 10%;" %>
    <% end %>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <% if admin_signed_in? %>
      <%= link_to "ユーザー一覧", admin_users_path %>
      <%= link_to "グループ一覧", admin_groups_path %>
      <%= link_to "コメント一覧", admin_post_comments_path %>
      <%= link_to "サインアウト", destroy_admin_session_path, method: :delete %>
    <% elsif user_signed_in? %>
      <%= link_to "Golf note", new_practice_post_path %>
      <%= link_to "about", about_path %>
      <%= link_to "MyPage", user_path(current_user) %>
      <%= link_to "Group", new_group_path %>
      <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "サインイン", new_user_session_path %>
      <%= link_to "about", about_path %>
    <% end %>
  </nav>

</header>