<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "mygolfnote_logo.png", alt: "MyGolfNote", class: "img-fluid" %>
      <% end %>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <% if admin_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "グループ一覧", admin_groups_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "コメント一覧", admin_post_comments_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "タグ一覧", admin_tags_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "サインアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% elsif user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to new_practice_post_path, class: "nav-link", data: {turbolinks: "false"} do %>
                <i class="fa-solid fa-golf-ball-tee"></i> Golf note
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link" do %>
                <i class="fa-solid fa-globe"></i> About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav-link" do %>
                <i class="fa-solid fa-user-tie"></i> MyPage
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_group_path, class: "nav-link" do %>
                <i class="fa-solid fa-users"></i> Group
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle position-relative" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-bell"></i>
                <% unread_count = current_user.notifications.unread.count %>
                <% if unread_count.positive? %>
                  <span class="badge badge-danger position-absolute" style="top:0; right:0;">
                    <%= unread_count %>
                  </span>
                <% end %>
              </a>

              <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="navbarDropdown" style="min-width: 300px;">
                <% if current_user.notifications.where(read: false).any? %>
                  <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                  <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                    <div class="dropdown-item <%= 'font-weight-bold' unless notification.read %>">
                      <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "text-dark" %>
                      <br>
                      <small class="text-muted"><%= time_ago_in_words(notification.created_at) %>前</small>
                    </div>
                  <% end %>
                <% else %>
                  <span class="dropdown-item text-muted">通知はありません</span>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                <i class="fa-solid fa-right-from-bracket"></i> ログアウト
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="fa-solid fa-address-card"></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fa-solid fa-right-to-bracket"></i> ログイン
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link" do %>
                <i class="fa-solid fa-globe"></i> About
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    
    </div>
  </nav>

</header>