<!DOCTYPE html>
<html>
  <head>
    <title>Mygolfnote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c7023171fe.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/header" %>
      <main>
        <% if flash[:notice] %>
          <div class="flash notice"><%= flash[:notice] %></div>
        <% end %>
    
        <% if flash[:alert] %>
          <div class="flash alert"><%= flash[:alert] %></div>
        <% end %>
    
        <div class="d-flex justify-content-center mb-2">
          <%= render "public/searches/searchform" %>
        </div>
        <%= yield %>
      </main>
  </body>
</html>
